<div ng-controller="LoginController as lc">
		<form class="form-horizontal" ng-submit="lc.submit()">
<div class="form-group">
					<!-- Username -->
					
					<label class="col-lg-2 control-label" for="username">UserName</label>
					<div class="col-lg-6">
						<input type="text" id="username" name="username" placeholder="Enter employeeUserId"
							class="form-control" ng-model="lc.emp.username" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.username.$error.required">This is a required field</span> 
							<span ng-show="empForm.username.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="pwd">Password</label>
					<div class="col-lg-6">
						<input type="password" id="pwd" name="pwd" placeholder="Enter employeeUserId"
							class="form-control" ng-model="lc.emp.pwd" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.pwd.$error.required">This is a required field</span> 
							<span ng-show="empForm.pwd.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Button -->
					<div class="col-lg-6">
						<button class="btn btn-success" type="submit">Register</button>
					</div>
				</div>
				</form>
</div>
