	<div ng-controller="RegController as ctrl">
		<form class="form-horizontal" ng-submit="ctrl.submit()">
		
			<fieldset>
				<div id="legend">
					<legend class="">Register</legend>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="username">UserName</label>
					<div class="col-lg-6">
						<input type="text" id="username" name="username" placeholder="Enter employeeUserId"
							class="form-control" ng-model="ctrl.emp.username" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.username.$error.required">This is a required field</span> 
							<span ng-show="empForm.username.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="DisplayPic">DisplayPic</label>
					<div class="col-lg-6">
						 <input type="file" file-model="imgSrc"/>
					</div>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="pwd">Password</label>
					<div class="col-lg-6">
						<input type="password" id="pwd" name="pwd" placeholder="Enter employeeUserId"
							class="form-control" ng-model="ctrl.emp.pwd" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.pwd.$error.required">This is a required field</span> 
							<span ng-show="empForm.pwd.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="cpwd">ConfirmPassword</label>
					<div class="col-lg-6">
						<input type="password" id="cpwd" name="cpwd" placeholder="Enter employeeUserId"
							class="form-control" ng-model="ctrl.emp.cpwd" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.cpwd.$error.required">This is a required field</span> 
							<span ng-show="empForm.cpwd.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="userId">Employee UserId</label>
					<div class="col-lg-6">
						<input type="text" id="userId" name="userId" placeholder="Enter employeeUserId"
							class="form-control" ng-model="ctrl.emp.userId" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.userId.$error.required">This is a required field</span> 
							<span ng-show="empForm.userId.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="esiId">Employee ESI Id</label>
					<div class="col-lg-6">
						<input type="text" id="esiId" name="esiId" placeholder="Enter employeeEsiId"
							class="form-control" ng-model="ctrl.emp.esiId" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.esiId.$error.required">This is a required field</span> 
							<span ng-show="empForm.esiId.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="empName">Employee Name</label>
					<div class="col-lg-6">
						<input type="text" id="empName" name="empName" placeholder="Enter employeeName"
							class="form-control" ng-model="ctrl.emp.empName" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.empName.$error.required">This is a required field</span> 
							<span ng-show="empForm.empName.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="projectName">Project Name</label>
					<div class="col-lg-6">
						<input type="text" id="projectName" name="projectName" placeholder="Enter projectName"
							class="form-control" ng-model="ctrl.emp.projectName" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.projectName.$error.required">This is a required field</span> 
							<span ng-show="empForm.projectName.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				
				<!-- <div class="form-group">
					<label class="col-lg-2 control-label" for="dateOfbirth">Employee DateOfBirth</label>
					<div class="col-lg-6">
						<input type="text" id="dateOfbirth" name="dateOfbirth" placeholder="Enter dateOfBirth"
							class="form-control" ng-model="ctrl.emp.dateOfbirth" required >
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.dateOfbirth.$error.required">This is a required field</span> 
							<span ng-show="empForm.dateOfbirth.$invalid">This value is invalid </span>
						</div>
					</div>
				</div> -->
				 <div class="form-group">
					<label class="col-lg-2 control-label" for="month">Employee Date Of Birth</label>
					<div class="col-lg-2">
					<select name="month" id="month"
					class="form-control"
						
						ng-options="optn for optn in ctrl.months track by optn"
						ng-model="ctrl.emp.month"></select>
					</div>
					<span>hello{{ctrl.emp.month}} </span>
					<div  class="col-lg-2">
					<select name="month" id="day"
					class="form-control"
						ng-options="optn for optn in ctrl.days track by optn"
						ng-model="ctrl.emp.day"></select>
					</div>
				</div>
				
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="technology">Technology</label>
					<div class="col-lg-6">
						<input type="text" id="technology" name="technology" placeholder="Enter Technology"
							class="form-control" ng-model="ctrl.emp.technology" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.technology.$error.required">This is a required field</span> 
							<span ng-show="empForm.technology.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- E-mail -->
					<label class="col-lg-2 control-label" for="accentureEmail">Accenture E-mail</label>
					<div class="col-lg-6">
						<input type="text" id="accentureEmail" name="accentureEmail"
							class="form-control" ng-model="ctrl.emp.accentureEmail"
							placeholder="Enter your Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
						<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.accentureEmail.$error.required">This is a required field</span> 
							<span ng-show="empForm.accentureEmail.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- E-mail -->
					<label class="col-lg-2 control-label" for="personalEmail">E-mail</label>
					<div class="col-lg-6">
						<input type="text" id="personalEmail" name="personalEmail"
							class="form-control" ng-model="ctrl.emp.personalEmail"
							placeholder="Enter your Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
						<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.personalEmail.$error.required">This is a required field</span> 
							<span ng-show="empForm.personalEmail.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="col-lg-2 control-label" for="mobile">Mobile</label>
					<div class="col-lg-6">
						<input type="text" id="mobile" name="mobile" placeholder="Enter Mobile"
							class="form-control" ng-model="ctrl.emp.mobile" required>
							<div class="has-error" ng-show="empForm.$dirty">
							<span ng-show="empForm.mobile.$error.required">This is a required field</span> 
							<span ng-show="empForm.mobile.$invalid">This value is invalid </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- Button -->
					<div class="col-lg-6">
						<button class="btn btn-success" type="submit">Register</button>
					</div>
				</div>
			</fieldset>
		</form>
		<script type="text/javascript">
		</script>
	</div>
